asgiref==3.5.0
bootstrap4==0.1.0
Brotli==1.0.9
click==8.0.3
dash==2.3.1
dash-bootstrap-components==1.1.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.9.1
dash-table==5.0.0
dj-database-url==0.5.0
Django==4.0.4
django-plotly-dash==1.6.6
dpd-components==0.1.0
dpd-static-support==0.0.5
Flask==2.0.3
Flask-Compress==1.10.1
future==0.18.2
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
MarkupSafe==2.0.1
mysql-connector==2.2.9
numpy==1.22.3
pandas==1.4.2
plotly==5.6.0
psycopg2-binary==2.9.3
pyodbc==4.0.32
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
sklearn==0.0
sqlparse==0.4.2
tenacity==8.0.1
threadpoolctl==3.1.0
Werkzeug==2.0.3
whitenoise==6.0.0
