{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://bootswatch.com/5/zephyr/bootstrap.css">

  <link rel="icon" type="image/x-icon" href="{% static 'dashboards/images/favicon.png' %}">
  {% block title %}{% endblock title %}
</head>
<body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding:0.25rem">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item" style="margin:0rem">
            <a href="{% url 'dashboard_library' %}" style="padding-right:1rem">
              <img src="{% static 'dashboards/images/logo.png' %}" style=" width: 100%; max-width:150px">
            </a>
          </li>
          <li class="nav-item" style="font-size:1rem">
            <a class="nav-link" href="{% url 'dashboard_library' %}" style="margin:0rem">Home</a>
          </li>
          <li class="nav-item" style="font-size:1rem">
            <a class="nav-link" href="{% url 'dashboard_library' %}" style="margin:0rem">Dashboards</a>
          </li>
          <li class="nav-item" style="font-size:1rem">
            <a class="nav-link" href="#" style="">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


    {% block content %}
    {% endblock %}


</body>
</html>